<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scine.studyfleaux">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Memory Flash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainHome"
            android:label="Memory Flash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //title of flashcard sets
        <activity
            android:name=".FlashcardsHome"
            android:label="Flashcard Sets"
            android:parentActivityName=".mainHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scine.studyfleaux.mainHome" />
        </activity>
        <activity
            android:name=".createFlashcards"
            android:label="Create Flashcards"
            android:parentActivityName=".FlashcardsHome"/>
        <activity android:name=".flashcardView"></activity>
    </application>

</manifest>