<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scine.studyfleaux">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mainHome"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notesHome"
            android:label="@string/title_activity_notes_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".classesHome"
            android:label="@string/title_activity_classes_home"
            android:parentActivityName=".mainHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scine.studyfleaux.mainHome" />
        </activity>
        <activity
            android:name=".remindersHome"
            android:label="@string/title_activity_reminders_home"
            android:parentActivityName=".mainHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scine.studyfleaux.mainHome" />
        </activity>
        <activity
            android:name=".createNotes"
            android:label="@string/title_activity_create_notes"
            android:parentActivityName=".notesHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scine.studyfleaux.notesHome" />
        </activity>
        <activity
            android:name=".flashcardsHome"
            android:label="@string/title_activity_flashcards_home"
            android:parentActivityName=".mainHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.scine.studyfleaux.mainHome" />
        </activity>
        <activity
            android:name=".createFlashcards"
            android:label="Create Flashcards"
            android:parentActivityName=".flashcardsHome"></activity>
        <activity android:name=".flashcardView"></activity>
    </application>

</manifest>